*{
    box-sizing:border-box;
    margin: 0;
}


.header{
    display: flex;
   
}

#produtos{
    display:grid;
    gap:10px;
    grid-template-columns: repeat(minmax);
}

.footer{
    display: flexbox;
}

img{
    width:100%
}
